/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

.btn-primary {
  color: #fff;
  background-color: #004171;
  border-color: #004171; 
}

.btn-tertiary {
  color: #fff;
  background-color: #a70000;
  border-color: #a70000; 
}

.buttons-html5 {
  color: #fff;
  background-color: #004171;
  border-color: #004171; 
}

body {
    font-family: 'Open Sans'; 
}
