<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Welcome!</h5>
    <p class="card-text">{{ site.description }}</p>
    <p> Where to start:</p>
    <p> 1. Check out the Timeline page.</p> 
    <p> 2. Click the Browse page. Here, you can look through films in a random order, by release year, or by the film's historical date.</p>
    <p> 3. Do you have a specific interest in an event, topic, or time? Use the search feature to find films that mention a keyword in its description.</p>
    <p>Example search terms include, “Korean War”, “1980s”, “Family”, and “IMF”.</p>

     {%- assign about = site.data.config-nav | where: "stub","/about.html" | size -%}
    {% if about > 0 %}<a class="btn btn-outline-primary" href="{{ '/about.html' | relative_url }}" >Learn More &raquo;</a>{% endif %}
  </div>
</div>
