<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Welcome!</h5>
    <p class="card-text">{{ site.description }}</p>
    <p> How to use this resource:</p>
    <p> 1.	Browse! You can search through a random order, release year, and historical date.</p>
    <p>2.	Do you have a specific interest in an event, topic, or time? Use the search feature to search for films that mention a keyword in its description.</p>
    <p>Example search terms include, “Korean War”, “1980s”, “Family”, and “IMF”.</p>
    <p>If you’re still unsure of where to start, conduct a brief web search for recommended films by other watchers, film critiques, and scholars.</p>

     {%- assign about = site.data.config-nav | where: "stub","/about.html" | size -%}
    {% if about > 0 %}<a class="btn btn-outline-primary" href="{{ '/about.html' | relative_url }}" >Learn More &raquo;</a>{% endif %}
  </div>
</div>
