<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Welcome!/h5>
    <p class="card-text">{{ site.description }}</p>
     <p>Suggestions on how to use this resource:</p>
        
    <p>1.	Browse! You can search the collection in a random order, release year, and historical date.</p>
        
    <p>2.	Do you have a specific interest in an event, topic, or time? Use the search feature to search for films that mention a keyword in its description.</p>
   
        <p>For example, search terms include, “Korean War”, “1980s”, “Family”, and “IMF”.</p>
        
<p>If you’re still unsure of where to start, conduct a brief web search for recommended films by other watchers, film critiques, and scholars.</p>
  </div>
</div>
